/* https://pythonprogramming.net/raspberry-pi-camera-opencv-face-detection-tutorial/ */

/* ------ top-cards ----- */
.top-cards {
  /* display: none; */
  /* border: 1px solid green; */
  margin-top: -50px;
  margin-bottom: 3em;
}

/* overview */
.overview {
  /* border: 1px solid pink; */
  padding-bottom: 2em;
}

h2 {
  color: var(--gray);
}

/* DarkMode */
@media (prefers-color-scheme: dark) {
  :root {
    --cardGray: #252b43;
    --gray: #8088ad;
    --lightGray: #1d2029;
    --baseColor: white;
    --baseBackground: #1d2029;
    --cardTitle: #8088ad;
    --switchSpinner: #282943;
    --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
  }
}
